@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@layer base {
  body {
    font-family: "DM Sans", "Noto Sans", sans-serif;
    background-color: var(--color-gray-deep);
    color: var(--color-white);
  }
}

@theme {
  --color-blue: #7289da;
  --color-gray-medium: #424549;
  --color-gray-dark: #36393e;
  --color-gray-darker: #282b30;
  --color-gray-deep: #1e2124;
}
